In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('fraud_detection_dataset.csv')
df.head()

,transaction_amount,user_age,account_age_days,num_transactions_last_24h,is_foreign_transaction,is_high_risk_merchant,device_type,card_present,fraud
0,56.31,68,1204,0,0,1,desktop,1,0
1,361.21,57,2564,1,0,0,mobile,0,0
2,158.01,24,175,3,0,0,mobile,0,0
3,109.55,49,2811,3,0,0,mobile,0,0
4,20.35,65,1976,0,0,0,mobile,1,0

In [5]:
df.isnull().sum()

transaction_amount           0
user_age                     0
account_age_days             0
num_transactions_last_24h    0
is_foreign_transaction       0
is_high_risk_merchant        0
device_type                  0
card_present                 0
fraud                        0
dtype: int64

In [ ]:
df.describe()

,transaction_amount,user_age,account_age_days,num_transactions_last_24h,is_foreign_transaction,is_high_risk_merchant,card_present,fraud
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,118.771022,43.187800,1500.354200,2.048400,0.095800,0.147600,0.596800,0.020200
std,118.446096,14.941472,853.911588,1.445294,0.294346,0.354739,0.490589,0.140698
min,0.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33.540000,30.000000,776.750000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,83.180000,43.000000,1495.000000,2.000000,0.000000,0.000000,1.000000,0.000000
75%,165.445000,56.000000,2232.500000,3.000000,0.000000,0.000000,1.000000,0.000000
max,980.690000,69.000000,2998.000000,8.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   transaction_amount         5000 non-null   float64
 1   user_age                   5000 non-null   int64
 2   account_age_days           5000 non-null   int64
 3   num_transactions_last_24h  5000 non-null   int64
 4   is_foreign_transaction     5000 non-null   int64
 5   is_high_risk_merchant      5000 non-null   int64
 6   device_type                5000 non-null   object
 7   card_present               5000 non-null   int64
 8   fraud                      5000 non-null   int64
dtypes: float64(1), int64(7), object(1)
memory usage: 351.7+ KB

In [33]:
df['fraud'].value_counts()#to check the count of fraud and not fraud

fraud
0    4899
1     101
Name: count, dtype: int64

In [34]:
df.shape

(5000, 9)

In [35]:
#now to get the percentage of fraud values
round((df['fraud'].value_counts()[1]/df.shape[0] )* 100)   
#that's 2%, a clear class imbalance.

2

In [36]:
df.columns

Index(['transaction_amount', 'user_age', 'account_age_days',
       'num_transactions_last_24h', 'is_foreign_transaction',
       'is_high_risk_merchant', 'device_type', 'card_present', 'fraud'],
      dtype='object')

In [37]:
features = ['transaction_amount','user_age','account_age_days','num_transactions_last_24hr','is_foreign_transaction','is_high_risk_merchant','card_present']